@{
    ViewData["Title"] = "Landing";
}
@section Stylesheets {
    <link rel="stylesheet" href="~/css/Index.css" />
}
@section Scripts {
    <script src="~/js/Index.js"></script>
}

<a class="link unselectable"
   href="//spacemerchthing.nbulla.com/api/test/test">API Test</a>
<a class="link unselectable"
   v-bind:class="{ 'disabled-link': newQuoteTimeout || quotesLoading != 0 || retrievingNewQuote }"
   onclick="newQuoteClick()">New Quote!</a>
<div class="center">
    <template v-for="fragment in quoteFragments">
        <h1 class="cool-text unselectable"
            v-bind:class="{ white: fragment.active }"
            style="white-space: pre-line;">{{ fragment.text }}</h1>
    </template>
</div>
