@{
    ViewData["Title"] = "Landing";
}
@section Stylesheets {
    <link rel="stylesheet" href="~/css/Index.css" />
}
@section Scripts {
    <script src="~/js/Index.js"></script>
}

<a class="link" href="//spacemerchthing.nbulla.com/api/test/test">API Test</a>
<a class="link" onclick="disappear(newQuote)">New Quote!</a>
<h1 id="quotetext" class="center cool-text unselectable" style="white-space: pre-line;"></h1>
