body {
    background-color: black;
    overflow: hidden;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horizontal-center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cool-text {
    color: black;
    font-family: monospace;
    text-align: center;
    font-size: 5vmin;
    inline-size: 80vw;
    -webkit-transition: color ease 2s;
    transition: color ease 2s;
}

.unselectable {
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.link {
    color: white;
    font-family: monospace;
    font-size: 16px;
    margin-right: 12px;
    text-decoration: underline;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity ease 0.2s;
    transition: opacity ease 0.2s;
}

.disabled-link {
    opacity: 0.4!important;
    cursor: default;
}

.white {
    color: white;
}
